html { 
  background: url(http://i.makeagif.com/media/5-11-2016/JNRg_Y.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}